.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.container {
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
  height: auto;
  width: auto;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .container {
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
    height: 230px;
    width: 370px;
    position: relative;
  }
}

.title {
  font-size: large;
  font-weight: 600;
  padding-left: 0.5cm;
  margin: 6px 0 2px 0;
}

.description {
  padding-left: 0.5cm;
  margin-bottom: 0.5cm;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.container:hover > .button {
  /* display: block; */
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: scale(1) rotate(360deg);
  transition: all 0.5s ease;
}
.container:hover {
  box-shadow: 5px 5px 15px 5px;
}

.link {
  color: inherit;
  text-decoration: none;
}
