html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}
.boldText{
  font-weight: bold;

}

.noDeco{
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: 'CODAC';
  font-display: swap;
  src: url('/fonts/codacA2.woff2') format('woff2');
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 1em;
}