.content {
  max-width: 100%;
  word-wrap: break-word;
}

.content code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin: 1em 0;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
}

.copyButton {
  position: absolute;
  background-color: white;
  right: 4em;
  margin-top: -0.6em;
  padding: 0.5em;
  opacity: 0.3;
  border: none;
  border-radius: 8px;
  transition: 0.2s;
}

.copyButton:active {
  opacity: 1;
  transition: 0.2s;
}

.content img {
  max-width: 100%;
}

@media (hover:hover) {

  .copyButton:hover {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
  }

}

